{% extends 'admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table">
          <thaed>
            <th>sl.no</th>
            <th>subject</th>
            <th>description</th>
          </thaed>
          {% for i in dada %}
          <tbody>
          <td>{{forloop.counter}}</td>
          <td>{{i,subject}}</td>
          <td>{{i.description</td>
          </tbody>
          {% endfor %}
        </table>
    </div>
</div>
{% endblock %}